@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: rgb(255, 255, 255);
    color: white;
    font-family: 'Playfair Display', serif;
    
}

.navbar {
    background: #daa8b0;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger-icon svg{
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.burger-icon {
    position: absolute;
    top: 25px;
    left: 15px;
}

.nav-title {
    display: flex;
    justify-content: center;
    gap: 20px;

    font-size: 20px;
}

.nav-title img {
    position: relative;
    top: 5px;
}

.cont-menu {
    background: rgb(186 173 212);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.411);
    width: 400px;
    position: absolute;
    top: 100px;
    left: 0;
    transform: all .5s ease;
    transition: .5s;
    z-index: 5;
}

.cont-menu ul {
    padding: 20px 0px 20px 0px;
    list-style: none;
}

.cont-menu ul li {
    color: white;
    display: block;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(154, 145, 173, 0.397);
}

.cont-menu a {

    display: inline-block;     
    position: relative;    
    z-index: 1;     
    padding-right: 12em;
    text-decoration: none;
    color: white;
}

.cont-menu ul li:hover {
    background-color: rgb(220, 208, 243);
    color: rgb(255, 191, 191);

}

#google_translate_element {
    display: flex;
    justify-content: flex-end;
}


/*   Styles    */

.slider {
    margin: 0 auto;
    max-width: 940px;
  }
  
  .slide_viewer {
    height: 540px;
    overflow: hidden;
    position: relative;
  }
  
  .slide_group {
    height: 100%;
    position: relative;
    width: 100%;
  }
  
  .slide {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .slide img {
    height: 100%;
    width: 100%;;
  }
  
  .slide:first-child {
    display: block;
  }
  
  .slide:nth-of-type(1) {
    background: #D7A151;
  }
  
  .slide:nth-of-type(2) {
    background: #F4E4CD;
  }
  
  .slide:nth-of-type(3) {
    background: #C75534;
  }
  
  .slide:nth-of-type(4) {
    background: #D1D1D4;
  }
  
  .slide_buttons {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
  }
  
  a.slide_btn {
    color: #474544;
    font-size: 42px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  
  .slide_btn.active, .slide_btn:hover {
    color: #daa8b0;
    cursor: pointer;
  }
  
  .directional_nav {
    height: 340px;
    margin: 0 auto;
    max-width: 940px;
    position: relative;
    top: -340px;
  }
  
  .previous_btn {
    bottom: 0;
    left: 100px;
    margin: auto;
    position: absolute;
    top: 0;
  }
  
  .next_btn {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 100px;
    top: 0;
  }
  
  .previous_btn, .next_btn {
    cursor: pointer;
    height: 65px;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
  }
  
  .previous_btn:hover, .next_btn:hover {
    opacity: 1;
  }

/* Style for JS script */

.active {
    transform: translate(-600px);
    transition: .5s;
}

.opacity {
    background-color: rgb(218, 218, 203);
    transition: all .5s ease; 
}

/* Media queries */

@media only screen and (max-width: 767px) {
    .previous_btn {
      left: 50px;
    }
    .next_btn {
      right: 50px;
    }
  }