@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}


body {
    background: beige;
    color: white;
    font-family: 'Playfair Display', serif;
    
}

.navbar {
    background: #daa8b0;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger-icon svg{
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.burger-icon {
    position: absolute;
    top: 25px;
    left: 15px;
}

.nav-title {
    display: flex;
    justify-content: center;
    gap: 20px;

    font-size: 20px;
}

.nav-title img {
    position: relative;
    top: 5px;
}

.cont-menu {
    background: rgb(186 173 212);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.411);
    width: 400px;
    position: absolute;
    top: 100px;
    left: 0;
    transform: all .5s ease;
}

.cont-menu ul {
    padding: 20px 0px 20px 0px;
    list-style: none;
}

.cont-menu ul li {
    color: white;
    display: block;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(154, 145, 173, 0.397);
}

.cont-menu a {
    text-decoration: none;
    color: white;
}

.cont-menu ul li:hover {
    background-color: rgb(220, 208, 243);
    color: rgb(255, 191, 191);

}

.home-title {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 50px;
    font-size: 25px;
    margin-top: 5em;
    color: #fe739b;
}

.shape-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.shape-divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 160px;
}

.shape-divider .shape-fill {
    fill: white;
}

.about-info {
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 17.9em;

    padding: 60px;
    height: 550px;
    gap: 50px;
}

.about-info h3 {
    font-size: 50px;
    color: #fe739b;
}

.about-info p {
    text-align: center;
    font-size: 20px;
    color: #dd94a0;
}

.about-info a {
    font-size: 22px;
    text-decoration: none;
    color: #658dc9;
}

/* Style for JS script */

.active {
    transform: translate(-600px);
}

.opacity {
    background-color: rgb(218, 218, 203);
    transition: all .5s ease; 
}

